.card {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  font-size: 18px;
}

.inner {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  text-align: center;
  width: 24rem;
  height: 12rem;
  z-index: 3;
  text-align: center;
  background: white;
  box-shadow: 0px 3px #e7e7e7, 0px -3px white, 3px 0px white, -3px 0px white,
    0px -6px #1976d2, 0px 6px #1976d2, 6px 0px #1976d2, -6px 0px #1976d2,
    9px 0px rgb(0 0 0 / 10%), 0px 9px rgb(0 0 0 / 10%);
}

.checkbox {
  display: none;
}

.checkbox:checked + .inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  background: #fff;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* pixel邊緣設定 */

.pixel-top {
  width: calc(100% + 12px);
  position: absolute;
  left: -6px;
  top: -3px;
}

.pixel-top::before {
  left: 3px;
  background: #1976d2;
  display: block;
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
}

.pixel-top::after {
  display: block;
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  right: 3px;
  background: #1976d2;
}

.pixel-bottom {
  width: calc(100% + 12px);
  position: absolute;
  left: -6px;
  bottom: 0;
}

.pixel-bottom::before {
  left: 3px;
  top: -3px;
  background: #e7e7e7;
  box-shadow: 0px 3px #1976d2, 0px 6px rgb(0 0 0 / 10%),
    -3px 3px rgb(0 0 0 / 10%);
  display: block;
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
}

.pixel-bottom::after {
  display: block;
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  right: 3px;
  top: -3px;
  background: #e7e7e7;
  box-shadow: 0px 3px #1976d2, 0px 6px rgb(0 0 0 / 10%), 3px 3px rgb(0 0 0 / 10%);
}
